.btnInfo {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    }
    .boutonv{
        visibility: visible;
    }
    .boutonh{
        visibility: hidden;
    }
    .bloc{
        margin:0;
        text-align: left;
        color: blue;
        font-weight: bold;
    }
    .stylenom{
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-weight: bold;
    }